In [1]:
import os
import pandas as pd

In [2]:
with open("./app.csv", "r") as file:
    data = file.read()

In [3]:
data = data.split("\\n")

In [8]:
df = {value: list() for value in data[0].split(",")}
df

{'': [], 'column': [], 'nulls': [], 'nulls_pct': []}

In [5]:
!pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import pandas as pd

def get_value(value):
    if value == None:
        return None
    else:
        return value

for ix, line in enumerate(data[1:]):
    try:
        line = line.split(",")
        df[""].append(get_value(line[0]))
        df["column"].append(get_value(line[1]))
        df["nulls"].append(get_value(line[2]))
        df["nulls_pct"].append(get_value(line[3]))
    except Exception as e:
        print(line)
        print(ix, e)
        continue

['']
707 list index out of range

In [ ]:
for key, values in df.items():
    print(key, len(values))

 708
column 707
nulls 707
nulls_pct 707

In [12]:
df[""] = df[""][:-1]

In [13]:
df = pd.DataFrame(df)
df.head()

           column nulls nulls_pct
0  0    createdat     0       0.0
1  1  displayname     0       0.0
2  2     fullname     0       0.0
3  3      lxstate     0       0.0
4  4     nafields     0       0.0

In [14]:
df.to_csv("app.csv", index=False)